#about{
    padding: 0 20%;
}

.highlight{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
}

.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 60px 0;
    line-height: 1.6em;
    font-size: 1.1em;
}


.about-content-text-wrapper{
    margin-top: -5px;
    width: 55%;
    text-align: justify;
    color:var(--secondary-color);
}

.about-content-text{
    margin: 0;
}
.photo-link{
    text-decoration: none;
}
@media (max-width:1281px){
    #about{
        padding: 0 15%;
    }
    .about-content-text-wrapper{
      padding-left: 0px;
      font-size: 0.99em;
      line-height: 1.8em;
    }
}

@media (max-width:1024px){
    .about-content{
      justify-content: center;
    }
    .about-content-text-wrapper{
      width: 90%;
    }
}

@media(max-width: 767px){
    #about{
        padding: 0 10%;
    }
    .about-content{
        padding-top:0;
    }
    .about-content-text-wrapper{
        width: 95%;
        font-size: 1.1em;
    }
}
@media (max-width: 481px) {
    #about{
        padding: 0 5%;
    }
  }