.image-wrapper{
    position: relative;
    cursor: pointer;
    padding-bottom: 40px;
}

.image-border{
    position: absolute;
    top: 10px;
    left:10px;
    border: 2px solid var(--primary-color);
    border-radius: 1px;
    z-index: 1;
    transition: 0.2s ease-in;
}

.image-cover{
    position: absolute;
    background-color: var(--primary-color);
    transition: 0.3s ease-in;
    border-radius: 1px;
    z-index: 2000;
    opacity: 0;
}

.image{
    position: relative;
    z-index: 2;
    border-radius: 1px;
    margin-right: 30px;
}
@media(hover:hover){
    .image-wrapper:hover .image-cover{
        opacity: 0.4;
    }
    .image-wrapper:hover .image-border{
        top: 6px;
        left: 6px;
    }
}
